@import 'calendar_heatmap';
@import 'circular_progressbar';

//
// Bootstrap overrides
//

a {
  color: #3e98c7;

  &:hover {
    text-decoration: none;
  }
}

//
// Custom
//

.day {
  display: inline-block;
  padding: 5px;

  &.active {
    background: #3e98c7;
    border-radius: 4px;

    .CircularProgressbar .CircularProgressbar-text {
      fill: #fff;
    }

    .CircularProgressbar .CircularProgressbar-trail {
      stroke: #fff;
    }
  }
}

.goals {
  li {
    color: #fff;
    background: #3e98c7;
    padding: 1em;
    margin-bottom: 2px;
    border: 1px solid #999;
    border-radius: 4px;

    &.active {
      color: #999;
      background: #fff;
    }
  }
}

.goal-checkbox {
  cursor: pointer;
  margin-right: 15px;

  i {
    vertical-align: middle;
    font-size: 2em;
  }
}
