@import 'calendar_heatmap';
@import 'circular_progressbar';

//
// Bootstrap overrides
//

a {
  color: #3e98c7;

  &:hover {
    text-decoration: none;
  }
}

//
// Custom
//

.day {
  display: inline-block;
  padding: 5px;

  &.active {
    background: #3e98c7;
    border-radius: 4px;

    .CircularProgressbar .CircularProgressbar-text {
      fill: #fff;
    }

    .CircularProgressbar .CircularProgressbar-trail {
      stroke: #fff;
    }
  }
}
