@import 'calendar_heatmap';
@import 'circular_progressbar';
@import 'spinkit';

$highlightColor: #3e98c7;

//
// Bootstrap overrides
//

a {
  color: $highlightColor;

  &:hover {
    text-decoration: none;
  }
}

.btn-outline-primary {
  color: $highlightColor;
  border-color: $highlightColor;
  &:hover {
    background-color: $highlightColor;
  }
}

//
// Custom
//

.react-calendar-heatmap .color-filled {
  fill: $highlightColor;
}
.react-calendar-heatmap .color-selected {
  fill: #fdfd96;
}
.react-calendar-heatmap rect:hover {
  stroke: #888;
  stroke-width: 0.2px;
}

.months {
  display: flex;
  flex-direction: row;

  .month {
    flex: 1;
    margin: 0 5px;
  }
}

// TODO remove
.week {
  display: flex;

  .day {
    flex: 1;
    padding: 5px;
    cursor: pointer;

    .CircularProgressbar .CircularProgressbar-text {
      fill: #999;
    }

    &.active {
      .CircularProgressbar .CircularProgressbar-text {
        fill: $highlightColor;
        font-weight: bold;
      }
    }
  }
}

.goals {
  li {
    color: #fff;
    background: $highlightColor;
    padding: 1em;
    margin-bottom: 2px;
    border: 1px solid #999;
    border-radius: 4px;

    &.active {
      color: #999;
      background: #fff;
    }
  }
  .goal {
    cursor: pointer;
  }
}

.goal-checkbox {
  margin-right: 15px;

  i {
    vertical-align: middle;
    font-size: 2em;
  }
}

.count-circle {
  color: $highlightColor;
  font-size: 1.6em;
  margin-right: 5px;
}
